字体大小设置范例：
h1 {
    font-size:60px;
}


CSS支持三种字体设置属性，他们是：

Px:像素，用来衡量HTML元素及字体的最基本的单位。

rem: rem单位代表浏览器的默认字体大小。使用rem单位是为了保证HTML元素及字体在不同浏览器中都可以根据他们自身原本的大小进行缩放。
在大多数主流浏览器中，1rem大概等于16px; 2rem大概等于32px; 3rem=48px,以此类推。

em: em单位是子级标签专用，它可以让子级标签根据父级标签所设置的大小进行缩放。
    例如:

    父 {
        font-size:20px;
    }

    子{
        font-size:0.5em; /*等于10px*/
    }


    2018年，我们主要使用px和rem两种单位来定义网页元素和字体的大小。